.mainContainer{
    width: 80vw;
    margin: 0 auto;
    padding-top: 1rem;
}

.ant-anchor-link-title-active {
    color: rgb(255, 105, 0)!important;
}

.ant-anchor-link-title-active:hover {
    color: rgb(255, 105, 0) !important;
}

.ant-anchor-ink{
   display: none!important;
}

.ant-anchor-wrapper {
    border-bottom: none!important;
}

.linkNavigation::before{
    border-bottom: none!important;
}

.mainLogo{
    width: 65px;
    height: 55px;
    cursor: pointer;
}

.logo{
    width: 35px;
    height: 35px;
    background-image:cover;
    cursor: pointer;
}

.color{
    color: rgb(255, 105, 0);
}

.number a:hover{
color: rgb(255, 105, 0);
cursor: pointer;

}

.slick-slide > div{
    display: flex;
    gap: 15px;
}

.ldBUuw{
    cursor: pointer;
}

img:hover{
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.jOzVyd > div{
display: flex;
flex-wrap: wrap;
}

.cowYVR>div{
    justify-content: space-between;
    font-size: 15px;
}

.daivDX>div{
    justify-content: space-between;
    font-size: 15px;
}

.hcKUZy>div{
    justify-content: space-between;
    font-size: 15px;
}

.eWHjRa>div{
    justify-content: space-between;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: black;
}