.mainContainer{
    width: 80vw;
    margin: 0 auto;
    padding-top: 1rem;
}

.ant-anchor-link-title-active {
    color: gold!important;
}

.ant-anchor-ink{
   display: none!important;
}

.ant-anchor-wrapper {
    border-bottom: none!important;
}

.linkNavigation::before{
    border-bottom: none!important;
}

.mainLogo{
    width: 65px;
    height: 55px;
    cursor: pointer;
}

.logo{
    width: 35px;
    height: 35px;
    background-image:cover;
    cursor: pointer;
}

.color{
    color: rgb(255, 105, 0);
}

.number:hover{
color: rgb(255, 105, 0);
cursor: pointer;

}

.slick-slide > div{
    display: flex;
    gap: 15px;
}